[submodule "dependencies/capicxx-core-runtime"]
	path = dependencies/capicxx-core-runtime
	url = https://github.com/GENIVI/capicxx-core-runtime.git
[submodule "dependencies/capicxx-someip-runtime"]
	path = dependencies/capicxx-someip-runtime
	url = https://github.com/GENIVI/capicxx-someip-runtime.git
